#wrap{
    padding-left: 30px;
    text-align: center;
    /* background-color: rgb(75, 61, 58); */
}
nav,a{
  color:black;
}
#navQuote{
    color: whitesmoke;
}
h4{
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-weight: 900;
    color: crimson;
}
h1{
    color:teal ;
    text-align: center;
}
h6{
    text-align: left;
    padding-left: 190px;
}
