<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quotes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<h1 id="ttle">{{title}}</h1>
   <p>Fill the form below To display your quote</p>
   <div>
       <!-- form component -->
       
      <app-form-quotes (addQuote)="addNewQuote($event)"></app-form-quotes>
   </div>
   <br>
   <br>
    <!-- display quotes -->
   <div class="container">
   <div class="border borsder-secondary" id="wrap">
     <app-display-quotes></app-display-quotes>
  </div>
   </div>
       
       

</div>

