<p>form-quotes works!</p>
<p>{{place}}</p>

<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Author's Name" aria-label="Author's name">
        </div>
    </div>
    <div class="quote">
        <label for="Quote">Write your Quote </label>
        <br>
            <textarea placeholder="Quote..."></textarea>
    </div>
    <div class="btn">
        <button>like</button><br>
        <button>dislike</button>
    </div>
</div>
