<p>form-quotes works!</p>
<p>{{place}}</p>

<div class="container">
    <form #userModel="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" value="" ngModel name="name"  id="name"placeholder="Name" aria-label="Name">
        </div>
        <div class="col">
            <input type="text" class="form-control"   ngModel name="aurthor" id="aurthor" placeholder="Author's Name" aria-label="Author's name">
        </div>
    </div>
    <div class="quote">
        <label for="Quote">Write your Quote </label>
        <br>
            <textarea  ngModel name="quote" id="quote"placeholder="Quote..."></textarea>
    </div>
    <div class="btn">
        <button type="submit" class="btn btn-success">Add Quote</button>
     </div>
    
    </form>
        
    </div>
