<div class="container">
  <app-form-quotes (addQuote)="addNewQuote($event)"></app-form-quotes>
</div>
 


<div class="container" id="content">
  <div id="wrap">
  <h2>Quotes by Wammy...</h2>
  
     <div *ngFor="let quote of quotes;let i=index">
       <!-- In the div we have created, we have added a loop logic,let i = index to register the index of each quote item in the quotes list. -->
  <div class="title">{{quote.about}}</div>
  <br>
   <app-display-content [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-display-content>
  </div>
  <!--  -->
  <br>
  
    </div>
  </div>
  
      

  

<div class="box">
  

</div>
 <!-- <p *ngIf='quotes.length > 5'> Your quotes are too many</p>  -->


 

