 <p>display-quotes works!</p> 
   <!-- <div>
       <ul>
           <li *ngFor="let quote of quotes">
       {{quote.about}}  
       </li>
        <p *ngIf='quotes.length > 5'> Your quotes are too many</p> -->
    <!-- </ul> --> 
       <p>display</p>
       <div class="row" *ngFor="let quote of quotes">
           <div class="col-md-4">
               <div class="about1">{{quote.about}}</div>
            </div> 
            <div class="cont">
                <app-display-content [quote]='quote'></app-display-content>
            </div> 
         </div>  



   

